@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Loc;
@model CourseProject.Domain.Models.AddModels.AddCollectionModel
@{
    ViewData["Title"] = Loc["New Collection"];
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/selectize.bootstrap5.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/add-collection.css"/>
    
}

@section Scripts{
    <script>
            let localization = {
                int_field: "@Loc["Integer field"]",
                string_field: "@Loc["String field"]",
                bool_field: "@Loc["Boolean field"]",
                date_field: "@Loc["Date field"]",
                text_field: "@Loc["Text field"]",
                remove_field: "@Loc["Remove field"]",
                upload_image: "@Loc["Upload image"]",
            };
    </script>
    <script>let searchTagUrl = '@Url.Action("Search", "Tag")';</script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script type="text/javascript" src="~/lib/selectize.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-filestyle.min.js"></script>
    <script src="~/js/add-collection.js"></script>


}

<div class="col-sm-10 mx-auto">
    <h1>@Loc["Add new collection"]</h1>
    <section>
        <form id="add-collection" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Name" class="form-label">@Loc["Title"]:</label>
            <div class="form-floating">
                <div class="input-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="@Loc["Enter title"]" required>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <label for="topic" asp-for="TopicId">@Loc["Topic"]:</label>
            <div class="form-floating">
                <select asp-for="TopicId" asp-items="@ViewBag.Topics" id="topic">
                    <option value="">@Loc["Select topic"]</option>
                </select>
            </div>
            <label>@Loc["Custom fields"]:</label>
            <button id="add-field" type="button" class="btn btn-primary">@Loc["Add field"]</button>
            <div class="custom-fields"></div>
            <label asp-for="Description" class="form-label">@Loc["Description"]:</label>
            <div class="form-floating">
                <textarea asp-for="Description" id="description" name="description" rows="4" cols="50"></textarea>
            </div>
            <br/>
            <div class="form-floating">
                
                <input required asp-for="Image" id="upload" type="file" class="form-control border-0" accept="image/x-png,image/gif,image/jpeg">
            </div>
            <div>
                <button id="collection-submit" type="submit" class="w-50 btn btn-lg btn-primary">@Loc["AddButton"]</button>
            </div>
        </form>
    </section>
</div>